@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #546377;
}

.sideMenu {
  width: 300px;
  height: 100%;
  background: linear-gradient(0deg, #3381b0, #c2196c);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-sizing: border-box;
  box-shadow: 5px 0 10px hsla(240, 40%, 10%, .6);
  position: relative;
  transform: translateX(-100%);
  transition: .5s;
}

.sideMenu label {
  position: absolute;
  width: 40px;
  height: 80px;
  background: #000;
  color: #ffffff;
  top: 0;
  right: -40px;
  bottom: 0;
  margin: auto;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  border-radius: 0 10px 10px 0;
}

#sideMenuSwitch {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#sideMenuSwitch:checked + .sideMenu {
  transform: translateX(0);
}

#sideMenuSwitch:checked + .sideMenu .fa-angle-right {
  transform: scaleX(-1);
}

.sideMenu form {
  display: flex;
  margin: 0 10px 50px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, .4);
}

.sideMenu form input,
.sideMenu form button {
  border: none;
  padding: 5px 10px;
  background: transparent;
  color: #ffffff;
}

.sideMenu form input {
  width: 230px;
}

.sideMenu form button {
  width: 50px;
}

.sideMenu form input:focus,
.sideMenu form button:focus {
  outline: none;
}

.sideMenu form input[type="search"]::placeholder {
  color: #ffffff;
}

.nav a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav li {
  position: relative;
}

.nav li + li a::before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  border-top: 1px solid rgba(255, 255, 255, .4);
}

.nav li .fa {
  margin-right: -1.1em;
  transform: scale(0);
  transition: .5s;
}

.nav li:hover .fa {
  margin-right: 0;
  transform: scale(1);
}

.nav li:hover > a {
  background: rgba(0, 0, 0, .5);
}

.nav ul {
  display: none;
  position: absolute;
  top: 10px;
  left: 100%;
  width: 300px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 5px 5px 10px hsla(240, 40%, 10%, .6);
}

.nav li:hover > ul {
  display: block;
}
